# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
ENV/
env/

# Environment Variables
.env

# Tests
tests/
test_results/

# Archive
archive/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Specific project files to exclude
final_test.py
packages/
